.feedback {
    padding-bottom: 135px;
    &__container {
        flex-direction: column;
    }
    &__title {
        margin-bottom: 95px;
    }
    &--box{
        max-width: 850px;
    }
    form{
        display: flex;
    }
}