.hero {
    padding-top: 3.8125rem;
    padding-bottom: 3.8125rem;
    height: 100vh;
    min-height: 650px;
    margin-bottom: 175px;
}

.hero__container {
    flex-direction: column;
    height: 100%;
}

.hero-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bottom-buttons {
    display: flex;
    justify-content: center;
}