
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item{
    margin-right: 60px;
    &:last-child{
        margin-right: 0;
    }
}
.nav__link{
    text-decoration: none;
    color: #464d62;
    font-weight: 400;
    white-space: nowrap;
    &:hover{
        color: #5500f2;
    }
}