.user{
    display: flex;
    flex-direction: column;
    &--horizontal{
        flex-direction: row;
        .user__avatar{
            margin-right: 30px;
        }
        .user__name{
            font-weight: 600;
        }
        .user__occ {
            color: #959caa;
        }
    }
}