.welcome-section{
    background: url("/src/images/content/welcome-bg.png") center center/cover no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 80px), 50% 100%, 0% calc(100% - 80px));
}