script(type="text/x-template")#skills-list
  ul.user-skills
    li.users-skills__item
      skills-row

script(type="text/x-template")#skills-row
  .skills__row
    .skills__row__title Frontend
    ul.skills__row__list
      li.skills__row__item
        skill

script(type="text/x-template")#skill
  .skill
    svg(viewBox="0 0 42 42").skill__shape
      circle(cx="21" cy="21" r="18" fill="transparent" stroke="#d2d3d4" stroke-width="2").skill__circle.skill__circle--under
      circle(cx="21" cy="21" r="18" fill="transparent" stroke="url('#circleGradient')" stroke-width="5" stroke-dasharray="25 75" stroke-dashoffset="50").skill__circle.skill__circle--above
      linearGradient(gradientTransform="rotate(90)")#circleGradient
        stop(offset="5%" stop-color="#7c00ea")
        stop(offset="95%" stop-color="#4a00ea")
    .skill__title HTML5