script(type="text/x-template")#works-slider
  .container.portfolio__container
    .portfolio__title
      .section-title Мои работы
    .portfolio__left
      display
    .portfolio__right 
      info
      
script(type="text/x-template")#slider-display
  .portfolio__project
    .portfolio__project__active
      .portfolio__project__active__image
        +image('content/portfolio/1.jpg', 'portfolio__project__active__image__img')
      .portfolio__project__active__num 1
    thumbs
    buttons 

script(type="text/x-template")#slider-thumbs
  .portfolio__project__list 
    .portfolio__project__item
      .portfolio__project__item__image
        +image(`content/portfolio/1.jpg`, `portfolio__project__item__image__img`)

script(type="text/x-template")#slider-buttons
  .portfolio__project__actions
    .portfolio__project__actions__btn.portfolio__project__actions__btn--next
      +icon('arrow-down', 'portfolio__project__actions__btn__icon')
    .portfolio__project__actions__btn.portfolio__project__actions__btn--prev
      +icon('arrow-down', 'portfolio__project__actions__btn__icon') 

script(type="text/x-template")#slider-tools
  .portfolio__project__description__tool 111111
    .portfolio__project__description__tool__list
      .portfolio__project__description__tool__item 

script(type="text/x-template")#slider-description
  .portfolio__project__description__list
    .portfolio__project__description__item.hide
      tools
      .portfolio__project__description__name 
      .portfolio__project__description__text 
      a(href=``).portfolio__project__description__link
        +icon('link', 'portfolio__project__description__link__icon')
        .portfolio__project__description__link__text Посмотреть сайт